<h3>Equipment</h3>
<ul>
  <li *ngFor="let item of equipment">
      <span *ngIf="itemBeingEdited !== item; else elseBlock">
          <span (click)="edit(item)" class="editable-text">{{item.name}}</span>
          <span *ngIf="item.vital">
             *
          </span>
          <button (click)="remove(item)">remove</button>
       </span>
 
       <ng-template #elseBlock>
          <input #updatedName (keyup.enter)="save(updatedName.value, item)" value="{{item.name}}"/>
          <button (click)="save(updatedName.value, item)">save</button>
       </ng-template>
  </li>
</ul>
<div>
  <input #name type="text"/>
  <label>*Vital to survive?<input #vital type="checkbox"/></label>
  <button (click)="add(name.value, vital.checked)">Add</button>
</div>